@import "reset";
@import "./variables/global";
@import "./themes/appDarkTheme";
@import "./themes/appDefaultTheme";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.contentWrapper {
  display: flex;
}

.pageWrapper {
  flex-grow: 1;
  padding: 16px;
}
