node_modules/
build/
.idea/*
.idea_modules/
.idea/replstate.xml
logs
*.log
npm-debug.log*
coverage
*.lcov
.lock-wscript
build/Release
.npm
.eslintcache
.env
.env.test
.cache
.parcel-cache
.next
out
.nuxt
dist
.cache/
Icon
.npmrc
