.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
}

.switchersWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.collapseBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.linksWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

.link {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.linkIcon {
  fill: var(--inverted-primary-color);
}

.linkText {
  margin-left: 6px;
  opacity: 1;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchersWrapper {
    flex-direction: column;
  }

  .link {
    margin-top: 0;
  }

  .linkText {
    opacity: 0;
    transition: opacity 0.2s;
    width: 0;
    margin-left: 0;
  }
}
