.appDarkTheme {
  --bg-color: #0c12b7;
  --inverted-bg-color: #fff;
  --primary-color: #14e121;
  --secondary-color: #49b602;
  --inverted-primary-color: #070101;
  --inverted-secondary-color: #00ada5;
}
