.app.dark {
    --bg-color: #090f8a;
    --inverted-bg-color: #fff;
    --primary-color: #07d211;
    --secondary-color: #0093ff;
    --inverted-primary-color: #1ba456;
    --inverted-secondary-color: #74de76;
}
