.app.normal {
  --bg-color: #fff;
  --inverted-bg-color: #090f8a;
  --primary-color: #05f8db;
  --secondary-color: #058ea9;
  --inverted-primary-color: #07d211;
  --inverted-secondary-color: #0093ff;
}
